services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./backend:/build
      - ./data:/build/data
      - backend_go_cache:/home/gouser/.cache/go-build
    environment:
      - PORT=8080
      - GOPATH=/go
      - GOCACHE=/home/gouser/.cache/go-build

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules

volumes:
  frontend_node_modules:
  backend_go_cache:
